:root {
  --eerie-black: #211F1C;
  --jet: #333333;
  --quick-silver: #A4A4A2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--jet);
  color: white;
}

main {
  min-height: 100%;
}

header {
  background-color: var(--eerie-black);
  position: sticky;
  top: 0;
  padding: 5px 4px;
}

nav {
  background-color: var(--eerie-black);
}

footer {
  background-color: var(--eerie-black);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li {
  list-style: none;
}

nav li {
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  margin: 10px
}

.card-title {
  font-weight: bold;
  font-size: 30px;
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-img:hover {
  opacity: 0.5;
}

.icon {
  height: 50px;
  width: 50px;
  margin-left: 50%;
}

.my-name, .heading {
  display: flex;
  justify-content: center;
}

.my-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  display: inline-block;
  margin: 15px;
}

.box {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.project-card {
  background-color: var(--quick-silver);
}

.project-button {
  background-color: var(--eerie-black) !important;
  color: white;
}

.resume-button {
  background-color: var(--eerie-black) !important;
  color: white;
}

.resume-download {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact p {
  text-align: center;
}

.nav-bar {
  text-align: center;
}